// Unattended-Upgrade::Origins-Pattern controls which packages are
// upgraded.

// Lines below have the format "keyword=value,...".  A
// package will be upgraded only if the values in its metadata match
// all the supplied keywords in a line.  (In other words, omitted
// keywords are wild cards.) The keywords originate from the Release
// file, but several aliases are accepted.  The accepted keywords are:
//   a,archive,suite (eg, "stable")
//   c,component     (eg, "main", "contrib", "non-free")
//   l,label         (eg, "Debian", "Debian-Security")
//   o,origin        (eg, "Debian", "Unofficial Multimedia Packages")
//   n,codename      (eg, "jessie", "jessie-updates")
//     site          (eg, "http.debian.net")
// The available values on the system are printed by the command
// "apt-cache policy", and can be debugged by running
// "unattended-upgrades -d" and looking at the log file.
//
// Within lines unattended-upgrades allows 2 macros whose values are
// derived from /etc/debian_version:
//   ${distro_id}            Installed origin.
//   ${distro_codename}      Installed codename (eg, "buster")

Unattended-Upgrade::Origins-Pattern {
        "origin=Debian,codename=${distro_codename},label=Debian";
        "origin=Debian,codename=${distro_codename},label=Debian-Security";
        "origin=Debian,codename=${distro_codename}-security,label=Debian-Security";
{% for origin in unattended_upgrades_additional_repos -%}
            "{{ origin }}";
{% endfor -%}
};

Unattended-Upgrade::Package-Blacklist {
    // Strings, one per line, terminated with ';'
    // Use Python regexes
};

Unattended-Upgrade::AutoFixInterruptedDpkg "{{ unattended_upgrades_autofix_interrupted_dpkg | string | lower }}";
Unattended-Upgrade::MinimalSteps "{{ unattended_upgrades_minimal_steps | string | lower }}";
Unattended-Upgrade::InstallOnShutdown "{{ unattended_upgrades_install_on_shutdown | string | lower }}";
Unattended-Upgrade::Mail "{{ unattended_upgrades_mail }}";
Unattended-Upgrade::MailReport "{{ unattended_upgrades_mail_report }}";
Unattended-Upgrade::Remove-Unused-Kernel-Packages "{{ unattended_upgrades_remove_unused_kernel_packages | string | lower }}";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ unattended_upgrades_remove_new_unused_dependencies | string | lower }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ unattended_upgrades_remove_unused_dependencies | string | lower }}";
Unattended-Upgrade::Automatic-Reboot "{{ unattended_upgrades_automatic_reboot | string | lower }}";
Unattended-Upgrade::Automatic-Reboot-WithUsers "{{ unattended_upgrades_automatic_reboot_with_users | string | lower }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_upgrades_automatic_reboot_time }}";
Unattended-Upgrade::Verbose "{{ unattended_upgrades_verbose | string | lower }}";
Unattended-Upgrade::Debug "{{ unattended_upgrades_debug_output | string | lower }}";
Unattended-Upgrade::Allow-downgrade "{{ unattended_upgrades_allow_downgrade | string | lower }}";
Unattended-Upgrade::Allow-APT-Mark-Fallback "{{ unattended_upgrades_allow_apt_mark_fallback | string | lower }}";
{% if unattended_upgrades_dl_limiting %}
Acquire::http::Dl-Limit "{{ unattended_upgrades_dl_limit }}";
{% endif %}
{% if unattended_upgrades_syslog_enable %}
Unattended-Upgrade::SyslogEnable "true";
Unattended-Upgrade::SyslogFacility "{{ unattended_upgrades_syslog_facility }}";
{% endif %}
{% if unattended_upgrades_battery_system %}
Unattended-Upgrade::OnlyOnACPower "{{ not unattended_upgrades_upgrade_on_battery | string | lower }}";
{% endif %}
{% if unattended_upgrades_skip_on_metered_connections %}
Unattended-Upgrade::Skip-Updates-On-Metered-Connections "true";
{% endif %}
